
:root {
    --Green: hsl(75, 94%, 57%);
    --White: hsl(0, 0%, 100%);
    --Grey-700: hsl(0, 0%, 20%);
    --Grey-800: hsl(0, 0%, 12%);
    --Grey-900: hsl(0, 0%, 8%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: #fff;
}

.bg-black{
    background-color: #000;
    max-width: 1440px;
    width: 100%;
    height: 100dvh;
    place-content:center;

}

.main-container{
    width: 330px;
    height: auto;
    background-color: var(--Grey-900);
    border-radius: 10px;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    padding: 30px;

}

.perfil{
    text-align: center;
}

img{
    width: 84px;
    height: 84px;
    border-radius: 50%;
    margin-bottom: 16px;
}

.name{
    font-size: 24px;
    margin-bottom: 10px;
}
.country{
    font-size: 14px;
    font-weight: 700;
    font-weight: bold;
    color: var(--Green);
}
.text{
    color: var(--White);
    font-size: 14px;
    padding: 16px 0;
}

.container-link{
    text-decoration: none;
    list-style: none;
}
.link{
    background-color: var(--Grey-700);
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 8px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }